/*
#root*{
root = true
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
}
*/
/*el margen y padding de toda la pagina web*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#labcolor {
	background-color: #F4D03F; /*rgb(241, 196, 15);*/
	font-family: "comic sans";
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}
/*cada vez que utilize la clase container, tomara estos estilos*/
#container { 
	font-family: "comic sans";
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.row{
    width: 100%;
}

[class*="col-"] {
    min-height: 7px;
    padding: 12px;
    float: left;

}
/*se usa la col-12 porque se va a usar una sola columna*/
.col-12 {
    /* (12/12) x 100 */
    width: 100%;

}

#imag {
	background-image: url(../src/image/pai.jpg);
	width: 1700px;
	height: 300px;
	
	

}



#title {
	background: 100% black;
	font-size: 30px;
	color: #FDFEFE;
	text-align: center;
	width: 100%;


}
/* se usa :hover para crear un nuevo color y tamaño en la letra;  */

#title:hover {
	color: yellow;
	font-size: 50px;
}


/*se usa la col-6 porque se van a usar dos columna*/

.col-6 {
    /* (6/12) x 100 */
    width: 50%;
}

/* tamaño de los números 0 y 25*/

#ground {
	color: red;
	font-size: 20px;
}

/* llave que se coloca para indicar numero de desplazamientos*/
#key {
	width: 60px;
	height: 50px;
	left: 200px;
	background-color: grey;
	}

/*cuadro de texto donde se escribe el mensaje a cifrar */

#boxTextEncode {
	resize: none;
	width: 400px;
	height: 200px;
	color: black;
	background: #E5E7E9;
	border-style: double;
	font-size: 30px;

}

/* se usa :hover para crear un nuevo color y cambio de imagen;  */
#boxTextEncode:hover{
	background: white;
	cursor: pointer;
}
	

/*boton para cifrar */

#butEncode {
	right: 50px;
	width: 80px;
	height: 40px;
	background: black;
	color: white;
	font-style: 25px;
	background-image: url();
	font-size: 15px;
	align-content: center;

}
/* se usa :hover para crear un nuevo color y cambio de cursor;  */
#butEncode:hover{
	background: grey;
	cursor: pointer;
	color: white;
	}


/* cuadro de texto donde aparece el nuevo mensaje*/
#boxTextTwo{
	resize: none;
	width: 500px;
	height: 200px;
	color: black;
	background: #E5E7E9;
	border-style: double;
	font-size: 40px;

}
/* se usa :hover para crear un nuevo color y cambio de imagen;  */
#boxTextTwo:hover{
	background: white;
	cursor: pointer;
}

/* boton de limpieza*/
#butClear {
	width: 80px;
	height: 40px;
	background: black;
	background-attachment: yellow;
	color: white;
	font-style: 25px;
	outline-color: fff;
	font-size: 15px;
}
/* se usa :hover para crear un nuevo color y cambio de cursor;  */

#butClear:hover{
	background: grey;
	cursor: pointer;
	color: white;
	}

/* cuadro de texto donde se escribe el mensaje cifrado*/

#boxTextDecode {
	resize: none;
	width: 400px;
	height: 200px;
	color: black;
	background: #E5E7E9;
	border-style: double;
	font-size: 25px;

}
/* se usa :hover para crear un nuevo color y cambio de imagen;  */
#boxTextDecode:hover{
	background: white;
	cursor: pointer;
}

/* boton para decifrar*/
#butDecode {
	width: 80px;
	height: 40px;
	background: black;
	background-attachment: yellow;
	color: white;
	font-style: 25px;
	outline-color: fff;
	font-size: 15px;

}
/* se usa :hover para crear un nuevo color y cambio de cursor;  */
#butDecode:hover{
	background: grey;
	cursor: pointer;
	color: white;
	}




