#labcolor {
	background-color: rgb(241, 196, 15);
}

#imag {
	background-image: url(../src/image/pai.jpg);
	width: 1454px;
	height: 194px;
	

}


#zero {
	font-family: "comic sans";

}

#aling {
	font-size: 20px;
	font-style: 
}
#imag2 {
	float:left;
	width:150px;
	height:150px;
}

#title {
	background: 40px black;
	font-size: 30px;
	color: #FDFEFE;
	text-align: center;


}

#title:hover {
	color: yellow;
	font-size: 50px;
}

#position{
	display: inline-block;
}

#one {

	font-size: 25px;
	color: blue;
	margin-top: #FDFEFE;


}

#text {
	font-size: 20px;
	display: inline-block;
}

#text2{
	font-size: 15px;
}

#ground {
	color: red;
	font-size: 20px;
}

#cis {
	color: blue;
	font-synthesis: 30px;
}

#littleNum {
	width: 50px;
	height: 30px;
	left: 200px;
	background-color: grey;
	
}
#butx {
	height: 50px;
    width: 50px;
	background: black;
	box-shadow: blue;
	color: yellow;
	font-size: 15px;
}

#box {
	resize: none;
	width: 300px;
	height: 200px;
	color: black;
	background: #C2BCC1;
}
#box:hover{
	background-image: url(../src/image/lupa.jpg);
	cursor: pointer;
}
	



#but {
	right: 50px;
	width: 80px;
	height: 40px;
	background: black;
	color: yellow;
	background-image: url();
	font-size: 15px;
	align-content: center;

}
#but:hover{
	background-image: url(image/llave.png);
	background: grey;
	cursor: pointer;
	color: white;
	}

#central {
	width: 800px;
	text-align: center;
	margin: black;
}

#centrar {
	width: 400px;

}

#centrar2 {
	width: 400px;

}
#des {
	color: blue;
}

#secondBox {
	resize: none;
	width: 300px;
	height: 200px;
	color: black;	
	background: #C2BCC1;


}
#secondBox:hover{
	background-image: url(../src/image/lupa.jpg);
	cursor: pointer;
}

#secondBut {
	width: 80px;
	height: 40px;
	background: black;
	background-attachment: yellow;
	color: yellow;
	outline-color: fff;
	font-size: 15px;

}
#secondBut:hover{
	background-image: url(image/llave.png);
	background: grey;
	cursor: pointer;
	color: white;
	}

#centrar3 {
	width: 400px;

}

#thirdBox {
	resize: none;
	width: 400px;
	height: 200px;
	color: black;	
	background: #C2BCC1;

}

#thirdBox:hover {
	background-image: url(../src/image/lupa.jpg);
	cursor:pointer;
}

#thirdBut {
	width: 80px;
	height: 40px;
	background: black;
	background-attachment: yellow;
	color: yellow;
	outline-color: fff;
	font-size: 15px;
}

#thirdBut:hover{
	background-image: url(image/llave.png);
	background: grey;
	cursor: pointer;
	color: white;
	}
